#IndexPage
{
	background:#000 url(images/img07.jpg) no-repeat left top;
	font: normal .90em 'times', arial, sans-serif;	
	text-align:center;
}
#header
{
	width:100%;
	height:120px;
	color:#fff;
}
#title
{
	padding-top:30px;
	font-size:50px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:-4px:


}
#content
{	
	width:650px;
	height:220px;
	/*height:500px;*/

	margin:10px auto;
	/*
	position:relative;
	top:0%;
	left:20%;
	left:3%;*/
	background-color:#fff;
	border:outset 10px #D00;
	border-radius:20px;
	overflow:hidden;
}

#footer
{
	color:#fff;	
	font-size:20px;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
}




#centerbox
{	
	font-weight:bold;
	font-size:25px;
	/*margin:0 auto;*/
}


#Button
{
	position:relative;
	margin:0;
	text-align:center;
}

#hint
{
	font-size:15px;
	height:4px;
	padding-top:8px;
	margin-bottom:-8px;
	color:#00f;

}
#CenterContent
{
	padding-top:0px;
}
#ControlBar
{	
	/*
	position:absolute;
	left:0px;
	top:30px;
	*/
	width:0px;
	height:0px;
	/*border:solid #f00 10px;*/
	background:#fff;
	/*margin-top:30px;*/
	margin:0 auto;
	/*border-radius:50px;*/
	border-width:auto;
	border-style:inset;
	border-color:red;
	overflow:hidden;
}
#MenuBar
{
	width:120px;
	height:30px;
	position:absolute;
	top:7px;
	right:10px;
	background:#fff;	
	border:5px solid red;

}
.ButtonStyle
{
	font-size:25px;
	font-family:Arial,sans-serif;
	font-weight:bold;
	color:#444444;
	background-color:#EEEEEE;
	border-style:double;
	border-color:#999999;
	border-width:3px;

}
#LoginButton
{
	margin-right:0%;
}
#RegisterButton
{	
	margin-top:-9.4%;
	margin-left:5%;
}
.LoginTextArea
{
	border:double;
	height:27px;
}



/*register.html*/
#RegisterPage
{
	text-align:left;
	font-weight:bold;
	padding-left:13px;
	padding-top:8px;
}
.RegisterText
{
	float:left;
	width:70px;
	display:inline;
	letter-spacing:0.1px;
}
.RegisterTextArea
{
	border:double;
}


#RegisterTitle
{
	text-align:center;
	font-size:30px;
	letter-spacing:5px;
}
#RegisterHint
{
	font-size:15px;
	height:6px;

	color:#00f;
	text-align:center;
}



/*********************/

/*mamagepage.php*/
.ItemTable
{	
	display:table;
	/*border:solid;*/
	text-align:center;
	margin:20px auto;
	


}
.ItemTr
{
	display:table-row;
	/*border:solid;*/
	
	height:220px;
	

}
.ItemTd
{
	display:table-cell;
	/*border:solid;*/
	width:550px;
	vertical-align:middle;



}

.ItemBlock
{	
	z-index: 1; 
	text-align:left;
	width:350px;
	height:200px;
	border-style:ridge;
	border-width:8px;
	border-color:blue;
	border-radius:10px;
	overflow:hidden;
	margin:0 auto;
	
}

.InformationBlock
{
	float:left;
	width:69%;
	margin:0 0 0 0;
}
.ItemTop
{
	width:99%;
	height:80%;
	text-align:center;


}
.ItemName
{
	width:100%;
	height:30%;
	line-height:48px;
	font-size:40px;
	border-bottom:solid 3px;
}
.NowValue
{
	width:100%;
	height:70%;
	line-height:112px;
	font-size:90px;
	border-bottom:solid 3px;
}


.ItemButtom
{
	width:99%;
	height:20%;
	
}
.WaitNum
{
	float:right;
	width:50%;
	line-height:40px;
	font-size:15px;
	overflow:hidden;
}

.TakenNum
{
	width:50%;
	line-height:40px;
	font-size:15px;
	overflow:hidden;	
}
.ControlBlock
{
	width:30.1%;
	height:100%;
	float:right;
	border-left:solid 2px;
}

.ControlButton
{
	width:100%;
	height:52px;
	font-size:20px;
	margin:0 0 0 0;
}


#Type2Block
{
	width:1100px;
	height:650px;

	border:5px solid;
	margin:0 auto;
	margin-top:15px;

}
#LeftBlock
{	
	width:25%;
	height:100%;
	/*border:1px solid;*/
	border-right:5px solid;

}

#RightBlock
{	
	width:50%;
	height:100%;
	float:right;
	/*border:1px double;*/
}
#CustomItemListBlock
{
	width:100%;
	height:99%;
	/*border:2px solid;*/
	overflow:auto;
}
#ItemQueueBlock
{
	width:24%;
	height:100%;
	float:right;
	/*border:1px solid;*/
	border-left:5px solid;
	overflow:hidden;
	text-align:left;
}
#NumberBlock
{	
	width:99%;
	height:42%;
	border:2px solid;

	/*
	width:100px;
	height:100px;
	border:5px solid;
	*/

}

#ItemBlock
{	
		
	/*
	width:100px;
	height:100px;
	border:5px solid;
	*/
}
#StatusBlock
{
	width:99%;
	height:24%;
	border:1px solid;

}
#ControlBlock
{	
	width:99%;
	height:33%;
	border:2px solid;
	/*
	width:100px;
	height:100px;
	border:5px solid;
	*/
}
#NumberSelector
{
	width:99%;
	height:99%;
	overflow:hidden;

}


#ItemListBlock
{
	display:table;	
	text-align:center;
	margin:0 auto;
	padding-top:15px;
	font-size:25px;


}
#ItemListBlock .ItemListTr
{
	display:table-row;
	border:solid 1px;

}

#ItemListBlock .ItemListTr .ItemListTd
{
	display:table-cell;
	border:solid 1px; 
}
#ItemListBlock .ItemListTr .ItemContentTd
{
	display:table-cell;
	border:solid 1px; 
	font-size:15px;
}

/*waititemblock*/
.WaitItemBlock
{
	
	line-height:26px;
	margin-bottom:15px; 　
} 
.WaitItemBlock .WaitItemName
{
	font-size:25px;
	font-weight:bold;
}
.WaitItemBlock .CustomDataBlock
{
	border:6px outset ;
	
	height:28px;

}

.WaitItemBlock .CustomDataBlock .WaitCustomNum
{
	font-size:18px;
	margin-right:15px;
}

.WaitItemBlock .CustomDataBlock .WaitCustomQuan
{
	font-size:22px;	
}

/*******************/
/*controlbar.html*/

#controlbarcontent
{
	overflow:hidden;
	margin:5px auto;
	
}
.controlbarbutton
{
	width:120px;
	height:40px;
	font-size:23px;
	border:solid 3px;
	border-radius:5px;
}





/*******************/
/*LookUpCustomInformation.php*/

#LookUpCustomInformationTable
{
	display:table;	
	border:solid;
	text-align:center;
	margin:0 auto;
	

}
#LookUpCustomInformationTable .TableTr
{
	display:table-row;
	border:solid;

}
#LookUpCustomInformationTable .TableTr .TableTd
{	
	display:table-cell;
	border:solid;
	font-size:20px;
}
.SkipButton
{
	width:60px;
	height:35px;
	font-size:20px;

}
.DeleteButton
{
	width:60px;
	height:35px;
	font-size:20px;

}

/*********************/

/*MyItem.php*/

#MyItemTable
{
	display:table;
	border:solid;
	text-align:center;
	margin:0 auto;
	
}
#MyItemTable .MyItemTableTr
{
	display:table-row;
	border:solid;
	
}
#MyItemTable .MyItemTableTr .MyItemTableTd
{
	display:table-cell;
	font-size:20px;
	border:solid;

}

/*StoreTakenItemList.php*/

#StoreItemList
{
	display:table;
	border:solid;
	text-align:center;
	margin:0 auto;

}
#StoreItemList .StoreItemListTr
{
	display:table-row;
	border:solid;


}
#StoreItemList .StoreItemListTr .StoreItemListTd
{
	display:table-cell;
	border:solid;


}


#StoreItemListTable
{
	display:table;
	margin:10px auto;	
	text-align:center;
	vertical-align:middle;
	width:500px;
	height:300px;


}
#StoreItemListTable .StoreItemListTableTr
{
	display:table-row;


}
#StoreItemListTable .StoreItemListTableTr .StoreItemListTableTd
{
	display:table-cell;

}
/*FullScreen.php*/
#FullScreen
{
	
}
#StoreNameColumn
{	
	height:15%;	

	text-align:center; 
	vertical-align:middle;
	font-size:130px; 
}


#ItemInformation
{
	font-size:500px; 
	height:70%;
	text-align:center; 
	vertical-align:middle;
}

#OtherContent
{	
	height:10%;
	font-size:50px; 

}

#ValueSpan
{
	margin-left:50%; 

}
/*StoreSetting.php*/

#StoreSettingTable
{
	display:table;
	border:solid 1px;
	margin:10px auto;
}

#StoreSettingTable .StoreSettingTableTr
{
	display:table-row;
	border:solid 1px;
}


#StoreSettingTable .StoreSettingTableTr .StoreSettingTableTd
{
	display:table-cell;
	border:solid 1px;
}
#StoreSettingTable .StoreSettngFont
{
	font-size:40px;
	width:280px;

}

#StoreItemQueueList
{
	display:inline-table;
	margin-top:10px;
}
#StoreItemQueueList .StoreItemQueueListTr
{
	display:table-row;
	height:60px;


}
.StoreQueueFinishButton
{
	width:200px;
	height:50px;
	font-size:30px;
}
